body{
    background-color: #002fffa2;
    position: relative;
}




#free-cart {
    width: 300px;
    background-color: #ffff;
    margin-top: 100px;
    margin-left: 150px;
    padding: 50px;
    border-radius: 30px;
    float: left;
    position: relative;

}



#plus-cart {
    width: 300px;
    background-color: #ffff;
    padding: 50px;
    border-radius: 30px;
    margin-top: 100px;
    margin-left: 150px;
    float: left;
    position: relative;
}

#pro-cart {
    width: 300px;
    background-color: #ffff;
    padding: 50px;
    border-radius: 30px;
    margin-top: 100px;
    margin-left: 150px;
    float: left;
    position: relative;
}

.price-cart{
    text-align: center;
    text-overflow: clip;

}


.per-month{
    font-size: 18px;
    font-weight: 400;

}

#plus-cart .user1{
    font-weight: 700;
}

#pro-cart .user1{
    font-weight: 700;
}

#pro-cart .user7{
    font-weight: 700;
}

.button{
    margin-top: 30px;
    height: 68px;
    width: 300px;
    background-color: #0000ff;
    color: #ffff;
    font-size: 1rem;
    border-radius: 30px;
    border-color: #ffff;
}

.button:hover{
    cursor: pointer;
}

.type{
    text-align: center;
}










